.checkbox-sgh {
    padding-left: 0;
    margin-right: 15px !important;
    margin: 0;
}


.allhead {
    margin-top: 0 !important;
    color: black !important;
}

label {
    font-family: Arial !important;
    color: black !important;
    font-size: 15px;
}

.h5-header {
    font-family: Arial !important;
    color: black !important;
    font-size: 15px;
}

.h3-header {
    color: #4485f3 !important;
}


.btn-sub {
    margin-top: 14px !important;
}

.pal-pad {
    padding-bottom: 5px !important;
    margin-top: 8.25% !important;
}

.pal-comp {
    padding-bottom: 5px !important;
    margin-top: 9.60% !important;
}

.pal-Ins {
    padding-bottom: 5px !important;
    margin-top: 15% !important;
}

.pal-Instmt {
    padding-bottom: 5px !important;
    margin-top: 22% !important;
}

.etabs {
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: #eee;
    border: solid 1px #999;
    border-bottom: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

    .tab a {
        font-size: 14px;
        line-height: 2em;
        display: block;
        padding: 0 10px;
        outline: none;
    }

        .tab a:hover {
            text-decoration: underline;
        }

    .tab.active {
        background: #fff;
        padding-top: 6px;
        position: relative;
        top: 1px;
        border-color: #666;
    }

    .tab a.active {
        font-weight: bold;
    }

.panel-container {
    background: #fff;
    border: solid #666 1px;
    padding-top: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    min-height: 370px;
}

.btn-right {
    float: right;
    margin-bottom: 10px;
}

.panel-container {
    margin-bottom: 10px;
}

.tab-Scroll {
    max-height: 350px !important;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.tab-Scroll1 {
    max-height: 300px !important;
    overflow-y: scroll;
    padding-bottom: 10px;
}

/*::-webkit-scrollbar { 
    display: none;*/
.head-right {
    float: right;
}

.text-bill {
    width: 40px !important;
}


.form-InputWidth {
    width: 100px;
    display: block;
    /*width: 100%;*/
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-InputWidth-00 {
    width: 100%;
    display: block;
    height: 25px;
    /*width: 100%;
  height: 34px;*/
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-InputWidth-01 {
    width: 100%;
    display: block;
    /*width: 100%;
  height: 34px;*/
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-InputWidth-02 {
    width: 100%;
    display: block;
    /*width: 100%;
  height: 34px;*/
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-InputWidth-03 {
    width: 100%;
    display: block;
    /*width: 100%;
  height: 34px;*/
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.Posdrp {
    width: 12.66666667% !important;
}

.posinplarge {
    width: 17.26666667% !important;
}

.model-body-pos {
    height: 100% !important;
}

.model-body-posItem {
    min-height: 250px !important;
}

.rdbtn {
    width: 16.333% !important;
}

.panel-head-1 {
    padding-bottom: 40px !important;
}

.search-text {
    padding-right: 10px;
    float: right;
    width: 200px;
}

.search-boxpopup {
    padding-right: 10px !important;
    float: right !important;
    width: 200px !important;
}

.fieldset {
    border: 2px groove threedface;
    /*border: 1px groove threedface;*/
    border-top: none;
    /*border-right:none;*/
    padding: 0.578em;
    /*padding : 0.7em;*/
    /*margin: 1em 2px;*/
}

.fieldset1 {
    border: 0px;
    border-top: none;
    border-right: none;
    padding: 0.5em;
    /*margin: 1em 2px;*/
}

.fieldset > h1 {
    font: 1em normal;
    margin: -1em -0.55em 0;
    color: black;
    /*font-size:medium;*/
    font-size: large;
    font-weight: 900;
}

    .fieldset > h1 > span {
        float: left;
    }

    .fieldset > h1:before {
        border-top: 2px groove;
        content: ' ';
        float: left;
        margin: 0.578em 2px 0 0;
        width: 0.75em;
    }

    .fieldset > h1:after {
        border-top: 2px groove;
        content: ' ';
        display: block;
        height: 1.5em;
        /*left: 2px;*/
        margin: 0 1px 0 0;
        overflow: hidden;
        position: relative;
        top: 0.578em;
    }

.background {
    /*background-color:#428BCA !important ;*/
    background-color: #00984a !important;
    border: 1px solid #000000 !important;
    color: #ffffff !important;
}

i:hover {
    cursor: pointer !important;
}

/*a:hover {
    background-color: #ef6028 !important;
    color: #ffffff !important;
}*/

.pos-text {
    margin-bottom: 5px !important;
}

h6 {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.pal-pos {
    padding-top: 5px !important;
}

/*.active
    {
        background-color:#8a83b2 !important ;
        color:#ff6a00 !important;
    }*/
.drpPos {
    position: relative;
    width: 50%;
    border-radius: 4px;
}

::-moz-selection { /* Code for Firefox */
    color: white !important;
    background: #ef6028 !important;
}

::selection {
    color: white !important;
    background: #ef6028 !important;
}

.table-striped tbody tr:hover td {
    background-color: #f6f1f1;
    /*border: 1px solid gray !important;*/
}

.posRec {
    padding: 0.5% !important;
}

.posRecLast {
    padding: 0.5% !important;
    margin-bottom: 1% !important;
}

.posRecFix {
    background-color: lightgray;
}


/*input,
input::-webkit-input-placeholder {
    font-size: 13px !important;
   
}*/
h6 {
    color: black !important;
    font-family: Arial !important;
}

.panel-none {
    border: none !important;
}

.panel-top {
    padding-left: 10px !important;
}


/*Ajax loader*/
.loader-div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    background-color: white;
    opacity: .6;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}


sup,
.error {
    color: red !important;
}

.toast-custom {
    top: 20px;
    right: 30px;
}

#toast-container > .toast-success {
    background-color: #45b6af;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.blank_row {
    height: 30px !important; /* Overwrite any previous rules */
    background-color: lightgray;
    text-align: center;
    border: solid 1px black;
}

.mandatoryField {
    color: #ff0000;
    font-size: 120%;
    font-weight: 800;
}


.selectedRowPOS {
    background-color: #ef6028;
    color: white;
}

.smallFont {
    font-size: smaller !important;
    border-color: transparent;
}

.active a {
    text-decoration: underline !important;
}

.eClaim_table > thead > tr > td.active, .eClaim_table > tbody > tr > td.active, .eClaim_table > tfoot > tr > td.active,
.eClaim_table > thead > tr > th.active, .eClaim_table > tbody > tr > th.active, .eClaim_table > tfoot > tr > th.active,
.eClaim_table > thead > tr.active > td, .eClaim_table > tbody > tr.active > td, .eClaim_table > tfoot > tr.active > td,
.eClaim_table > thead > tr.active > th, .eClaim_table > tbody > tr.active > th, .eClaim_table > tfoot > tr.active > th {
    background-color: #ef6028;
}

ul.dropdown-menu li {
    cursor: pointer;
}


.colborder {
    border: 1px groove #ddd;
    border-radius: 15px 5px;
}

.vertical-text {
    color: #000000;
    padding: 5px;
    margin-bottom: 1%;
}

fieldset.scheduler-border {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 0.3em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    color: #ef6028;
}

.input-icon.right input {
    padding-left: 12px !important;
    padding-right: 33px !important;
}

.input-icon input {
    padding-left: 33px !important;
    color: #999999;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 8px 8px;
    background: #e5e5e5;
}




body { /* just for this demo. */
    padding: 5px;
}

.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}

.btn-arrow-right {
    padding-left: 30px;
    margin-right: 35px;
}



.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content: "";
    position: absolute;
    /*top: 5px;*/ /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 25px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -12px;
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

  .btn[disabled] {
            pointer-events: auto !important;
        }

body {
     /*padding-top: 50px;*/
     padding-bottom: 20px;
}

 /* Set padding to keep content from hitting the edges */
.body-content {
     padding-left: 15px;
     padding-right: 15px;
}

 /* Override the default bootstrap behavior where horizontal description lists 
    will truncate terms that are too long to fit in the left column 
 */
.dl-horizontal dt {
     white-space: normal;
}

 /* Set width on the form input elements since they're 100% wide by default */
input,
select {
     max-width: 480px;
}

textarea {
    max-height: 500px;
    max-width: 480px;
}
#txtComments {
    max-width: 480px;
}
.myheader {
    vertical-align: middle;
    margin: -10px;
    height: 81px;
    width: 105%;
    background-color: #66ad44;
    color:white;
}
.txtComments {
    max-width: 480px;
}