@{
    Layout = null;
}
<header>
    <nav class="navbar navbar-default myheader">
        <div class="container " style="padding-top:10px;">
            <div class="navbar-header" style="font-size:large; ">
                <a class="navbar-brand text-white" href="#BlogPostList"><b>Sample Blog</b></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#BlogPostList"><i class="fa fa-rss"></i>Blog</a></li>
                <li><a href="#NewPostAdmin"><i class="fa fa-plus"></i>Add Post</a></li>
                <li><a href="#UserList"><i class="fa fa-users"></i>User List</a></li>
                <li><a href="#LogOut"><i class="fa fa-sign-out"></i>LogOut</a></li>
            </ul>
        </div>
    </nav>
</header>
