@{
    Layout = null;
}

<header>
    <nav class="navbar navbar-default myheader" >
        <div class="container " style="padding-top:10px;" >
            <div class="navbar-header" style="font-size:large; ">
                <a class="navbar-brand text-white" href="#BlogPost"><b>Sample Blog</b></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#BlogPost"><i class="fa fa-rss"></i> Blog</a></li>
                <li><a href="#Login"><i class="fa fa-sign-in"></i> Login</a></li>
                <li><a href="#UserRegistration"><i class="fa fa-user-plus"></i> Sign up</a></li>
            </ul>
        </div>
    </nav>
</header>
